.home-lessons{
  padding: 10px 7.5px;
  .lessons-title{
    height: 30px;
    line-height: 30px;
  }
  .lessons{
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #c5c5c5,-1px -1px 3px 1px #c5c5c5;
    overflow: hidden;
    text-align: center;
    margin-bottom: 18px;
    img{
      height: 140px;
    }
    p{
      line-height: 200%;
    }
    p:nth-child(2){
      color: #bbbbbb;
    }
    p:nth-child(3){
      color: #ed3a3a;
    }
  }
  .load-more{
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: lightskyblue;
  }
}